header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: #143C8A;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    height: 5vh;
}